<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">"
    <title>Arif Jobs</title>
    <link rel="stylesheet" href="{% static 'css/jobs1.css'%}">
</head>
<body>
<div class="container" >
    <div class="jumbotron">
        <h1>WELCOME TO ARIFJOBS</h1>
        <p>continuous jobs update in every hours...</p>
        <a class="btn btn-primary" href="hydjobs/" role="button" >Hyderabad jobs</a>&nbsp;&nbsp;&nbsp
        <a class="btn btn-primary" href="punejobs/" role="button" >Pune jobs</a>&nbsp;&nbsp;&nbsp
        <a class="btn btn-primary" href="bngjobs/" role="button" >Banglore jobs</a>&nbsp;&nbsp;&nbsp
    </div>
</div>

</body>
</html>